<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'concepts/mathswitch.css' %}">
    <title>mathswitch</title>
    <meta
      name="description"
      content="Infrastructure for relaying and exchanging mathematical concepts."
    />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <p><strong><a href="/">mathswitch</a></strong> &mdash; infrastructure for relaying and exchanging mathematical concepts</p>
        <p>An experiment in linking up definitions of (almost) the same concept across encyclopedias and libraries.</p>
      </hgroup>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="container">
      <p>Mathswitch is developed at University of Ljubljana, Faculty of mathematics and physics.
        For more information, see the <a href="https://github.com/katjabercic/mathswitch/">mathswitch GitHub repository</a>.
      </p>
      <p>This work is supported by project <a href="https://tydiform.fmf.uni-lj.si">TydiForm</a>.</p>
      <p><img class="powered-by-wikidata" alt="Powered by Wikidata" /></p>
    </footer>
  </body>
</html>