{% extends 'base.html' %}

{% block content %}
  <h2>{{ concept.display_name }}</h2>
  {% if concept.description != None %}
    <p>{{ concept.description }}</p>
  {% else %}
  <p>(no description is available)</p>
  {% endif %}
  {% for item in concept.items %}
    <a href="{{ item.url }}">{{ item.source }}: {{ item.display_name }}</a> <br>
  {% endfor %}
  {% if search_query %}
    <p><a href="/results/{{ search_query }}">Other search results for “{{ concept.display_name }}”</a></p>
  {% endif %}
{% endblock %}
