{% extends 'base.html' %}

{% block content %}

<form method="GET" action="search/">
  <input type="search" id="q" name="q" placeholder="Search for a concept by name" list="concepts" />
  <datalist id="concepts">
    {% for c in concepts %}
    <option value="{{ c }}" />
    {% endfor %}
  </datalist>
  <input type="submit" />
  <p>Examples:
    <a href="/concept/circuit/">circuit</a>,
    <a href="/concept/mathematical%20group/">mathematical group</a>,
    <a href="/concept/Stone%20duality/">Stone duality</a>,
    <a href="/results/normal">normal</a>
  </p>
</form>

<h2>About</h2>
<p>Mathswitch collects entries from the following sources:</p>
<ul>
  <li><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a> ({{ number_of_links.wikidata }} entries)</li>
  <li><a href="https://ncatlab.org/nlab/show/HomePage">nLab</a> ({{ number_of_links.nlab }} entries)</li>
  <li><a href="https://mathworld.wolfram.com">Mathworld</a> ({{ number_of_links.mathworld }} entries)</li>
  <li><a href="https://proofwiki.org/wiki/Main_Page">ProofWiki</a> ({{ number_of_links.proof_wiki }} entries),</li>
  <li><a href="https://encyclopediaofmath.org/wiki/Main_Page">Encyclopedia of mathematics</a> ({{ number_of_links.encyclopedia_of_mathematics }} entries),</li>
  <li><a href="https://unimath.github.io/agda-unimath/">Agda Unimath</a> ({{ number_of_links.agda_unimath }} entries)</li>
</ul>
<p>The entries are organized into a concept network that connects the same concept appearing in different sources.</p>
<p>The author of mathswitch is <a href="https://katja.not.si">Katja Berčič</a>.</p>

{% endblock %}
