footer {
    text-align: center;
    /* border: 1px solid red; */
}

.powered-by-wikidata {
    content: url("wd-light.png");
    transform: scale(.5);
}

@media (prefers-color-scheme: dark) {
    .powered-by-wikidata {
        content: url("wd-dark.png");
    }
}