name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12.7'
      - run: pip install -r web/requirements.txt 
      - run: pip install black isort flake8
      - run: python3 -m black --check .
      - run: python3 -m isort --check .
      - run: flake8
      - run: cd web && python3 ./manage.py test
